body{
    background-color: rgb(253, 251, 251);
    margin: 0;
}
header {
    
    position: fixed;
    left: 0;
    
    top: 0;
    background-color: rgb(19, 43, 19);
    min-width: 100%;
    height: 40px;
    display: flex;
    justify-content: center
   
}
header a {
    margin: 10px 60px 0 0;
    color: whitesmoke;
    text-decoration: none;
}
.topo{
    min-width: 900px;
    display: flex;
    justify-content: space-between;

}
h1 {width: 100%;
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    color: rgb(241, 225, 194);
    text-align: center;
    text-emphasis: black;
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
    height: 32px;
    text-shadow: 2px 2px black;
    border-radius: 10px 10px 10px 10px;
    
}
.menu {
    height: 100px;
    background-color: rgb(0, 0, 0);
    align-items: flex-end;
    display: flex;
    justify-content: center;
    border-radius: 0 0 10px 10px;
}
.menu a  {
    text-decoration: none;
    margin: 0 20px;
    text-transform: uppercase;
    color: blanchedalmond;
    font-family: 'Bebas Neue';
}

header a:hover{
    font-size: 15px;
    font-weight: 800;
    text-decoration: overline;
}
.menu a:hover {
    font-size: 15px;
    font-weight: 800;
    text-decoration: underline;
}
#minha_foto {
    
    width: 250px;
    border-radius: 100%;
    box-shadow: black 0px 15px 15px 0px;
}
.regiao-qualquer {
    display: flex;
    justify-content: center;
    align-items: center;
}



footer {
    border-top: rgb(2, 61, 2) solid 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(11, 70, 11, 0.884);
    margin: 60px 0 0 0;
    position: relative;
    bottom: 0;
    height: 190px;
    justify-content: center;
}
.link-rodape{
    margin: 5px;
}

#textao {
    padding: 0 50px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
.qualquer-coisa{
    width: 200px;
    padding: 20px;
    background-image: url(back.jpeg);
    border-radius: 5px;
    text-align: center;
    border: 2px solid black;
    color: whitesmoke
}
.textao {
    width:700px
}


.tituloimg{
    width: 450px;
}
.titulo-e-coisas {
    margin-top: 90px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
     
    align-items: center;
}
table {
    display: ruby-text-container;
}
th {
    
    border-radius: 5px 5px 0 0;
}

#tabela {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tabela{
    font-size: 30px;
}
table tr th {
    background-color: green;
    color: honeydew;
    
}
/*O código a seguir, da linha 151 à linha 163, será retirado do Stackoverflow, url: " https://pt.stackoverflow.com/questions/318535/como-retirar-a-linha-que-separa-as-colunas-em-uma-tabela-html ". Minha intenção será somente retirar as colunas verticais da tabela*/
table {
    border-collapse: collapse;   
    border-radius: 4px;
    width: 500px;
}
td, th {
    border: 1px solid #CACFD2;
    text-align: left;
    padding: 8px;
}
td:first-of-type {
    border-right-color: transparent;
}
/*O código acima, da linha 151 à linha 163, foi retirado do Stackoverflow, url: " https://pt.stackoverflow.com/questions/318535/como-retirar-a-linha-que-separa-as-colunas-em-uma-tabela-html ". Minha intenção foi tão somente retirar as colunas verticais da tabela */

tr:nth-of-type(2n+1){
    background-color: rgba(209, 207, 207, 0.555);
}
table {
    width: 100%;
}
.h4-lista{
    font-size: 20px;
} 

footer p a {
    color: black;
    text-decoration: none;
}
footer p a:hover{
    font-size: 19px;
    font-weight: 600;
}
.rodape-links{
    display: flex;
    flex-direction: row;
}
p {
    line-height: 27px;
}

.textao {
    padding: 20px;
}